<article class="md:flex">
  <section class="bg-black text-white md:w-2/4">
    <div
      class="px-5 sm:px-8 md:sticky md:top-0 md:pt-12 lg:px-10 2xl:max-w-screen-lg 2xl:ml-auto 3xl:px-24"
    >
      <h2
        id="stories"
        class="font-bandeins-bold-extended-half uppercase leading-extra-tight break-words font-bold py-4 text-3xl lg:text-3xl xl:text-3xl"
      >
      Reference Stories
      </h2>
    </div>
  </section>
</article>

<app-reference
  *ngFor="let reference of references"
  [reference]="reference"
  [profiles]="profiles">
  <app-reference-item
      *ngFor="let story of reference.stories; let i=index"
      [number]="i"
      [story]="story">
  </app-reference-item>

</app-reference>
